<div class="container">
  <div class="row justify-content-between">
    <div class="col">
      <h4>Arbetslivserfarenhet</h4>
      <li class="card p-1 m-2 brodtext" *ngFor="let item of cv">
        <p class="list-group-item-danger">
          <strong>{{ item.time }}</strong>
        </p>
        <h5 class="list-group-item-heading">{{ item.title }}</h5>
        <p class="list-group-item-primary">{{ item.company }}</p>
        <p class="list-group-item-primary">{{ item.description }}</p>
      </li>
    </div>
    <div class="col">
      <h4>Utbildning</h4>
      <li class="card p-1 m-2 brodtext" *ngFor="let item of utb">
        <p class="list-group-item-danger">
          <strong>{{ item.time }}</strong>
        </p>
        <h5 class="list-group-item-heading">{{ item.title }}</h5>
        <p class="list-group-item-primary">{{ item.company }}</p>
        <p class="list-group-item-primary">{{ item.description }}</p>
      </li>
    </div>
  </div>
</div>
