.bild img {
  max-width: 80%;
}

.bild h4 {
  font-family: "Martel", serif;
  font-weight: 900;
}

.bild p {
  font-family: "Martel", serif;
  font-weight: 600;
}

input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
  border: 1px solid red;
  background-color: rgb(245, 180, 173);
}
