<div class="container">
  <div class="row justify-content-between">
    <div class="col bild my-5">
      <img
        src="https://media2.vonzeipel.com/2021/06/cv_logga.png"
        alt="Logotyp Kenneth von Zeipel"
      />
      <div class="my-3">
        <h4>Erfaren lingvist och junior&nbsp;frontendutvecklare</h4>
        <br />
        <p>
          Läs mer om mina erfarenheter i mitt <a routerLink="cv">CV</a> och
          <a routerLink="kontakt">kontakta</a>&nbsp;mig om du vill veta mer.
        </p>
      </div>
    </div>
    <div class="col bild">
      <img
        src="https://media2.vonzeipel.com/2021/06/cv_bild.jpg"
        alt="Bild på Kenneth"
      />
    </div>
  </div>
</div>
